:local(.container) {
    margin: 40px;
  }
  :local(.content) {
    font-size: 15px;
    text-align: center;
  }
  :local(.oneOnOneRowContainer) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  :local(.flexRow) {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  :local(.avatar) {
    height: 40px;
    width: 40px;
    border-radius: 20px;
  }
  :local(.m0PH10) {
    margin: 0px;
    padding: 0px 10px;
    color: #fff;
  }
  :local(.liStyleNone) {
    list-style-type: none;
    padding: 0px 20px;
    background-color: #fff;
  }
  :local(.dasboardLists) {
    padding: 5px 10px;
    border-radius: 6px;
    border-bottom: 1px solid #fff;
    background: linear-gradient(to left, #f2f2f2, #898989);
  }
  :local(.playButton) {
    align-self: right;
    background-color: green;
  }
  :local(.detailsContainer) {
    margin: 40px;
    background-image: url("../../images/facesBackground.png");
    height: 700px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  :local(.detailButton) {
    background-color: whitesmoke;
    height: 30px;
    width: 300px;
  }
  :local(.whiteText) {
    color: whitesmoke;
  }
  :local(.categoryBtn) {
    height: 100px;
    width: 70px;
  }
  :local(.flexDirRow) {
    display: flex;
    flex-direction: row;
  }

  :local(.container) {
    margin: 40px;
    background-image: url("../../images/facesBackground.png");
    height: 2100px;
    width: 700px;
  }
  :local(.categoryList) {
    display: flex;
    flex-direction: row;
    list-style-type: none;
  }
  :local(.category) {
    height: 100px;
    width: 200px;
    border-width: 2px;
    border-color: #fff;
    border-style: solid;
    margin: 8px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  :local(.categoryIcon) {
    height: 50px;
    width: 50px;
  }
  :local(.dashboardContainer) {
    margin: 40px;
    background-image: url("../../images/facesBackground.png");
    height: 2100px;
    width: 700px;
    list-style-type: none;
  }